#microtick_panel {
  font-size: 8px;
}

#microtick_panel h2 {
  text-align: left;
}

#microtick_panel p {
  text-align: left;
}

#microtick_panel input {
  font-size: 10px;
}

#microtick_panel td {
  text-align: left;
}